@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    overflow-x: hidden;
}
.container {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(24, 2, 58);
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}
*{
    box-sizing: border-box;
}
// Global Classes
.centerY {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.centerCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    cursor: pointer;
}

.logout{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 15px;
    background-color: rgb(147, 135, 135);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}